body {
    background-color: aqua;
}

@media screen and (max-width: 600px){
    .part1{color: brown; font-size: 150%;}
    .part2{color: yellow; font-size: 130%;}
    button{background-color: violet;}
}

.part1{border-color: blue; border-width: 6px; border-style: double;}
.part2{border-color: black; border-width: 10px; border-style: groove;}
.part3{border-color: blueviolet; border-width: 15px; border-style: hidden;}
.part4{border-color: gold; border-width: 20px; border-style: inset;}
.part5{border-color: green; border-width: 8px; border-style: ridge;}
